.custom-form {
    width: fit-content;
    margin: auto!important;
    box-sizing: border-box;
}


.custom-form__button {
}

.custom-form__button .custom-button {
    margin-left: -10px;
    background: #0f98f8;
    color: white;
    outline: none;
}

.custom-form__button .custom-button:hover {
    background: #0f86e6;
}